* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-family: 'Monoton', cursive;
    font-size: 6vmin;
    color: black;
    letter-spacing: .5vmin;  
}

h1 {
    color: grey;
    font-size: 3vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 13vmin);
    grid-template-rows: repeat(4, 13vmin);
    gap: 3vmin;
    margin-top: 4vmin;
}


#board > div {
    border-radius: 20%;
    border: 0.1vmin solid grey;
}

button {
    margin-top: 5vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 2vmin;
    border: .1vmin solid grey;
    color: black;
    font-family: 'Monoton', cursive;
    letter-spacing: .5vmin;
}

button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.show{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15vmin;
    height: 10vmin;
    margin-top: -20px;
    margin-left: -75px;
    color: black;
    border-radius: 2vmin;
    border: .1vmin solid grey;
    cursor: pointer;
    
    &:hover{
    background: black;
    color: white;
    border: 1px solid black;
    }

    &:active{
    transform: scale(0.9);
    }
}


.close{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.8);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -150px;
    background: #bdc3c7;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
}
.active{
    visibility: visible;
    opacity: 1;
}

.active + .modal{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}